<template>
<!-- <div class='md-layout-item'> -->
    <!-- <img src='../views/main/img/clock03.jpeg' alt='img' style="position: absolute"> -->
    <div class="iframe-wrapper">
      <!-- <iframe scrolling="no" frameborder="no" clocktype="html5" src="https://www.clocklink.com/html5embed.php?clock=041&timezone=GMT0700&color=green&size=250&Title=&Message=&Target=&From=2019,1,1,0,0,0&Color=green">
      </iframe> -->
    </div>
<!-- </div> -->
</template>

<style lang='scss' scoped>
  .md-layout-item {
    // position: relative;
    display: flex;
    justify-content: flex-start;
    height: auto;
    width: 60%;
    //background: url(../views/main/img/clock03.jpeg);
  }
  img {
      position: absolute;
      max-width: 100%;
      width: 100%;
      height: auto;
  }

  iframe {
     
  }

  .iframe-wrapper {
      width: 80%;
      background-image: url(../views/main/img/clock03.jpeg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  }
</style>