<template>
  <header class="main">
    <img src="../assets/fossil_group.jpg">
    <ul class="left-nav">
      <li class="active">
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">SERVICES</a>
      </li>
      <li>
        <a href="#">ABOUT</a>
      </li>
      <li>
        <a v-on:click='profile' href="#">PROFILE</a>
      </li>
      <li>
        <a v-on:click='logout' href="">LOG OUT</a>
      </li>
    </ul>
  </header>
</template>

<script>
import Vue from 'vue';
import VueMaterial from 'vue-material';
import 'vue-material/dist/vue-material.min.css';
import { service } from '@/services/service';
import axios from 'axios'
    export default {
        methods: {
            profile() {


        

                service.api.get(1,'/v2/users/me/profile')
                .then(response => {
                    console.log(response.data);
				        });
            },
            logout(){
              const self = this
              localStorage.removeItem('authUser')
              localStorage.removeItem('refreshToken')
              self.$router.push('/login');
            }
        }
    }
</script>

<style scoped>
/* * {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
} */
header {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 150px;
    line-height: 50px;
}
ul {
  float: right;
  margin-right: 0px;
  margin-top: 40px;
  list-style-type: none;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #786d65;
  padding: 5px 40px;
  transition: 0.6s ease;
  border-radius: 15px;
  font-family: "Roboto Slab",serif;
  font-weight: bolder;
  font-size: 12px;
  }
ul li a:hover {
  background-color: white;     
  color: #ea6b3f;
  text-decoration: none;
}

ul li.active a {
  background-color: white;     
  color: #ea6b3f;
  text-decoration: none;
}

img {
  margin-left: 100px;
  width: 160px;
  height:80px;
  float: left;
  margin-top: 30px;
}
</style>