 <template>
  <div>
    <div>
      <div class="md-layout md-gutter">
        <div class="md-layout-item md-size-40">
          <b-row>
            <input v-model='uid' placeholder="User ID" type="text">
          </b-row>
        </div>
        <div class="md-layout-item md-size-60">
          <select v-model="selected">
            <option selected>All</option>
            <option>Top</option>
            <option>Middle</option>
            <option>Bottom</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div>
      <b-table striped hover :items="items" :fields="fields" ></b-table>
    </div>
    <b-pagination
      v-model="pagination.currentPage"
      v-on:input="getHistory"
      :total-rows="pagination.total"
      :per-page="pagination.limit"
      aria-controls="my-table"
    ></b-pagination>
  </div>
</template>

<script>
  import { service } from '@/services/service';
  export default {
    name:'dashboard',
    data() {
      return {
        uid: '',
        selected: 0,
        pagination: {
          currentPage: 1,
          offset: 0,
          limit: 10,
          page: 1,
          total: 1000,
        },
        perPage: 3,
        items: [
        ],
        buttonName: ['top','middle','bottom'],
        fields: [
          {
            key: 'buttonID',
            label: 'Function',
            formatter: 'funcName'
          },
          {
            // A regular column with custom formatter
            key: 'timestamp',
            formatter: value => {
              return new Date(value * 1000).toISOString().slice(0, 19).replace('T', ' ');
            }
          }
        ],
      };
    },
    mounted(){
      const self = this;
      self.getHistory();
    },
    methods: {
      getHistory(){

        const self = this;
        self.pagination.offset = self.pagination.limit*(self.pagination.currentPage-1);

        service.api
          .get(0, "/buttons"
          + "?offset=" + self.pagination.offset
          + "&limit=" + self.pagination.limit)
          .then(function(res) {
            if (res.status == 200) {

              self.items = res.data.items;
              console.log(res.data);
              self.pagination.total = res.data.totalItem;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      Timestamp_Date(timestamp) {
          return new Date(timestamp * 1000).toISOString().slice(0, 19).replace('T', ' ');
      },
      funcName(value){
        const self = this;
        const buttonName = ['top','mid','bot'];
        return buttonName[value-1];
      }
    }
  };
</script>

<style lang='scss' scoped>
@import '~vue-material/src/components/MdAnimation/variables.scss';
  .md-layout-item {
    height: 40px;
    &:after {
      width: 100%;
      height: 100%;
      display: block;
      background: md-get-palette-color(green, 200);
      content: ' ';
    }
  }
  #nav {
  height: 15vh;
  background-size: cover;
  background-position: center;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>