<template>
<div>
  <div class='content-container'>
    <div class='header'>
      <app-header></app-header>
    </div>
  </div>
<div class='content-container1'>
  <div class='clock'>
      <clock></clock>
      <div class="button-container">
        <button type="button" class="btn btn-danger btn-lg btn3d" v-on:click="test(1)">TOP</button>
        <button type="button" class="btn btn-danger btn-lg btn3d" v-on:click="test(2)">MID</button>
        <button type="button" class="btn btn-danger btn-lg btn3d" v-on:click="test(3)">BOT</button>

      </div>
    </div>
    <div class='dashboard'>
      <dashboard></dashboard>
    </div>
  </div>
</div>
</template>


<script>
import Header from "@/components/Header.vue";
import Clock from "@/components/Clock.vue";
import Dashboard from "@/components/UserInfo.vue";

import Vue from "vue";
import BootstrapVue from 'bootstrap-vue'
Vue.use(BootstrapVue)
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

import { service } from "@/services/service";

export default {
  components: {
    appHeader: Header,
    clock: Clock,
    dashboard: Dashboard,
  },
  name: 'Dashboard',
  data() {
    return {
    };
  },
  methods: {
  test(btnID){
    console.log(btnID)
    let params ={
      buttonID: btnID+'', 
      timestamp: Math.round(new Date().getTime()/1000)+'' 
    }
      service.api
          .post(0, "/buttons",params)
          .then(function(res) {
            if (res.status == 200) {
              console.log(res);
              self.dashboard.getHistory();
            }
          })
          .catch((err) => {
            console.log(err);
          });
    }
  },
};
</script>
<style scoped>
.header {
  grid-area: header;
}

.clock {
  grid-area: clock;
  display: flex;
  justify-content: flex-start;
  height: 500px;
}

.button-container {
  list-style-type: none;
  justify-content: center;
  display: block;
  margin: auto;
}

.button {
  margin: 20px;
}

.content {
  grid-area: content;
  position: relative;
}

.content-container {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-column-gap: 2%;
  grid-template-columns: 45% 22% 25%;
  grid-template-areas:
    'header header  header';
  background-color: #fff;
}
.content-container1 {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-column-gap: 2%;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    'clock dashboard';
  background-color: #fff;
}

/* .box {
  background-color: #de9761;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
} */

.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 30px;
	margin-bottom: 30px;
  border-radius: 20px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 1px;
}

.btn3d.btn-danger {
	box-shadow: 0 0 0 1px #664400 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4d3300, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #664400;
}

.btn3d.btn-danger:active,
.btn3d.btn-danger.active {
	box-shadow: 0 0 0 1px #664400 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #664400;
}

</style>

