<template id="form-wrapper">
  <div class="form-wrapper">
    <div class="login-left" style="background-color: rgb(120,109,101);">
      <img src="https://www.fossilgroup.com/wp-content/uploads/2016/02/fg-default-featured-400x400.jpg">
    </div>
    <slot></slot>
  </div>
</template>

<style>
    @import './Form.css';
</style>

<script>
import axios from "axios";

export default {
  name: "FormWrapper",
  template: "#form-wrapper",
  beforeMount() {
    let init = 0;
    setTimeout(function() {
      document.querySelector(".form-wrapper").classList.toggle("open");
      init = 300;
    }, init);
  },
};
</script>

<style scoped>
  .login-left {
    margin: auto;
    background-color: rgb(120,109,101);
  }
</style>
