<template id = "login">
  <FormWrapper>
    <form class="login-right">
      <b-container fluid>
        <b-row class="my-1">
          <b-col sm="2"></b-col>
          <b-col sm="8">
            <div class="h2">Login</div>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="1">
            <!-- <label for="input-small">Email</label> -->
          </b-col>
          <b-col sm="10">
            <b-form-input id="email" size="md" placeholder="Email" v-model="input.email" required></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1">
            <!-- <label for="pwd" >Password</label> -->
          </b-col>
          <b-col sm="10">
            <b-form-input
              type="password"
              size="md"
              id="pwd"
              placeholder="Password"
              v-model="input.password"
              required
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10"></b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="3">
            <!-- <label for="pwd" >Password</label> -->
          </b-col>
          <b-col sm="9">
            <b-button variant="primary" v-on:click="login">
              <span
                class="spinner-border spinner-border-md"
                v-if="loading==true"
                role="status"
                aria-hidden="true"
              ></span>
              Log in
            </b-button>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10"></b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <router-link :to="'/signup'" id="router-link">Create new account?</router-link>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <div>
              <font v-if="check==false" color="red">{{ errorForUser }}</font>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </form>
  </FormWrapper>
</template>

<script>
import FormWrapper from "./FormWrapper.vue";
import VueMaterial from "vue-material";
import "vue-material/dist/vue-material.min.css";
import { service } from "@/services/service";

import Vue from "vue";
import BootstrapVue from "bootstrap-vue";

import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

Vue.use(BootstrapVue);

import axios from "axios";
import { constants } from "crypto";
export default {
  name: "Login",
  components: {
    FormWrapper
  },
  data() {
    return {
      check: true,
      loading: false,
      input: {
        email: "",
        password: ""
      },
      errorForUser: ""
    };
  },
  methods: {
    login(e) {
      // prevent something null
      var element;
      for (element in this.input)
        if (this.input[element] == "") {
          this.errorForUser = "Input " + element + " , please!";
          this.check = false;
          this.loading = false;
          return;
        }

      // connect to server
      e.preventDefault();
      this.loading = true;
      const self = this;
      localStorage.removeItem("authUser");
      localStorage.removeItem("refreshToken");
      const header = { headers: { "Content-Type": "application/json" } };
      service.api.post(1, "/v2/rpc/auth/login", self.input)
        .then(
          response => {
            this.loading = false;
            localStorage.setItem("authUser", response.data.accessToken);
            localStorage.setItem("refreshToken", response.data.refreshToken);
            localStorage.setItem("uid", response.data.uid);
            self.$router.push("/test");
          },
          err => {
            this.loading = false;
            console.log(err.response.data._errorDetails);
            console.log(err.response.data._errorMessage);
            switch (err.response.data._error) {
              case 400002:
                console.log("Wrong User Password");
                // alert("Wrong User Password");
                self.errorForUser = "User or Password is invalid";
                self.check = false;
                break;
              case 401017:
                console.log("Authentication failed.");
                // alert("Authentication failed.");
                self.errorForUser = "Your email or password is wrong.";
                self.check = false;
                break;
              case 500000:
                console.log("Unexcepted error.");
                // alert("Unexcepted error");
                self.errorForUser = "Server bug!!!!";
                self.check = false;
                break;
            }
          }
        )
        .catch(error => {
          console.log("bug here");
          console.log(error);
        });
    }
  }
};
</script>