<template id = 'signup'>
  <FormWrapper>
    <form class="login-right" v-on:submit.prevent="Submit">
      <b-container fluid>
        <b-row class="my-1">
          <b-col sm="2"></b-col>
          <b-col sm="8">
            <div class="h2">Register</div>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <b-form-input id="email" size="md" placeholder="Email" v-model="input.email" required></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <b-form-input
              type="password"
              size="md"
              id="pwd"
              placeholder="Password"
              v-model="input.password"
              required
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <b-form-input
              type="password"
              size="md"
              id="pwdAgain"
              placeholder="Password Again"
              v-model="passwordAgain"
              required
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <b-form-input
              id="firstName"
              type="text"
              size="md"
              placeholder="FirstName"
              v-model="input.firstName"
              required
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <b-form-input
              id="lastName"
              size="md"
              type="text"
              placeholder="LastName"
              v-model="input.lastName"
              required
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <b-form-input
              type="text"
              id="birthDay"
              onfocus="(this.type='date')"
              size="md"
              placeholder="BirthDay"
              v-model="input.birthday"
              data-date-format="YYYY-MM-DD"
              required
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <b-form-select v-model="input.gender" :options="options" size="md"></b-form-select>
            <!-- <select id="gender" v-model="input.gender" required>
              <option value disabled selected>Gender</option>
              <option>M</option>
              <option>F</option>
              <option>O</option>
            </select>-->
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10"></b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="3"></b-col>
          <b-col sm="9">
            <b-button variant="primary" v-on:click="Submit">
              <span
                class="spinner-border spinner-border-md"
                v-if="loading==true"
                role="status"
                aria-hidden="true"
              ></span>Submit
            </b-button>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10"></b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <router-link :to="'/login'" id="router-link">Login?</router-link>
          </b-col>
        </b-row>

        <b-row class="my-1">
          <b-col sm="1"></b-col>
          <b-col sm="10">
            <div>
              <font v-if="check==false" color="red">{{ errorForUser }}</font>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </form>
  </FormWrapper>
</template>

<script>
import FormWrapper from "./FormWrapper.vue";
import Vue from "vue";
import VueMaterial from "vue-material";
import "vue-material/dist/vue-material.min.css";
import { service } from "@/services/service";
import axios from "axios";

import BootstrapVue from "bootstrap-vue";

import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

Vue.use(BootstrapVue);

export default {
  name: "Signup",
  components: {
    FormWrapper
  },
  data: function() {
    return {
      input: {
        email: "",
        password: "",
        firstName: "",
        lastName: "",
        birthday: "",
        gender: "",
        diagnosticEnabled: true
      },
      errorForUser: "",
      check: true,
      passwordAgain: "",
      loading: false,
      options: [
        { value: null, text: "Gender", disabled: true },
        { value: "M", text: "Male" },
        { value: "F", text: "Female" },
        { value: "O", text: "Other" }
      ]
    };
  },
  mounted() {
    const self = this;
  },
  methods: {
    Submit() {
      // run the spinner
      this.loading = true;

      var element;
      // prevent submit with something null
      for (element in this.input) {
        if (this.input[element] == "" && this.input[element] != true) {
          this.errorForUser = "Input " + element + " , please!";
          this.check = false;
          this.loading = false;
          return;
        }
      }

      // prevent submit with wrong email format
      if (!this.input.email.includes("@")) {
        this.errorForUser = "Format of email is wrong!";
        this.check = false;
        this.loading = false;
        return;
      }

      // check password & passAgain
      if (this.input.password != this.passwordAgain) {
        this.errorForUser = "Password is conflict";
        this.check = false;
        this.loading = false;
        return;
      }
      var re = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{7,}$/;
      if (re.test(this.input.password) == false) {
        this.errorForUser =
          "Password must contain at least 7 characters & number";
        this.check = false;
        this.loading = false;
        return;
      }

      // check age must >= 18 && <100
      var age = 0;
      {
        var today = new Date();
        var birthDate = new Date(this.input.birthday);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
          age = age - 1;
        }
      } 
      if (age < 18 || age >= 100){
        this.errorForUser =
          "Birthday is not valid";
        this.check = false;
        this.loading = false;
        return;
      }

      // connect to server
      const self = this;
      service.api
        .post(1, "/v2/rpc/auth/register", self.input)
        .then(
          res => {
            this.loading = false;
            console.log("ok2");
            localStorage.setItem("authUser", res.data.accessToken);
            localStorage.setItem("refreshToken", res.data.refreshToken);
            localStorage.setItem("uid", res.data.uid);
            self.$router.push("/");
          },
          err => {
            this.loading = false;
            console.log(err.response.data._errorDetails);
            console.log(err.response.data._errorMessage);
            // self.errorForUser = err.response.data._errorDetails;
            // self.check = false;
            switch (err.response.data._error) {
              case 400002:
                // alert('Validation failed.');
                self.errorForUser = "Email or password is wrong.";
                self.check = false;
                break;
              case 400005:
                // alert('Register failed.');
                self.errorForUser =
                  "The email address is in an invalid format.";
                self.check = false;
                break;
              case 409002:
                self.errorForUser = "The email has been registered before.";
                self.check = false;
                break;
              case 500000:
                self.errorForUser = "Server has bug!!!!";
                self.check = false;
                break;
            }
          }
        )
        .catch(error => {
          const response = error.response;
        });
    }
  }
};
</script>
